@font-face {
    font-family:"Mulish";
    src: url("./assets/fonts/Mulish-Regular.ttf") format("truetype"),
         url("./assets/fonts/mulish-regular.woff") format("woff");
    font-weight: regular;    
}

@font-face {
    font-family:"Mulish";
    src: url("./assets/fonts/Mulish-Bold.ttf") format("truetype"),
         url("./assets/fonts/mulish-bold.woff") format("woff");
    font-weight: bolder;    
}

@font-face {
    font-family:"Mulish";
    src: url("./assets/fonts/Mulish-Italic.ttf") format("truetype"),
         url("./assets/fonts/mulish-italic.woff") format("woff");
    font-weight: italic;    
}